spring:
  application:
    name: catalog
  cassandra:
    keyspace-name: catalog
    port: 9042
    contact-points: cassandra-node
    local-datacenter: DC1
    schema-action: create_if_not_exists
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://host.docker.internal:3306/eda?useSSL=false
    username: root
    password: root
  jpa:
    generate-ddl: true
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: false
  kafka:
    bootstrap-servers:
      - kafka1:9092
      - kafka2:9092
      - kafka3:9092
    consumer:
      group-id: eda-group1
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer

server:
  port: 8085

