networks:
  kafka-network:
    external: true
  cassandra-network:
    external: true

services:
  member-service:
    container_name: member-service
    image: member-service
    ports:
      - "8081:8081"

  payment-service:
    container_name: payment-service
    image: payment-service
    ports:
      - "8082:8082"

  delivery-service:
    container_name: delivery-service
    image: delivery-service
    ports:
      - "8083:8083"

  search-service:
    container_name: search-service
    image: search-service
    ports:
      - "8084:8084"

  catalog-service:
    container_name: catalog-service
    image: catalog-service
    ports:
      - "8085:8085"
    networks:
      - cassandra-network
      - kafka-network

  order-service:
    container_name: order-service
    image: order-service
    ports:
      - "8086:8086"
